// Elements
//

// Link
.link {
  text-decoration: none;
  color: $color-grey-dark;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 100%;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $color-red;
  }
}

// Btn
.btn {
  display: inline-block;
  min-width: 120px;
  font-size: .875rem;
  line-height: 100%;
  font-family: $font-family-base;
  font-weight: 600;
  color: $color-white;
  text-align: center;
  vertical-align: middle;
  border: 0;
  padding: 15px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: $color-grey;
  cursor: pointer;
  text-decoration: none;
  border-radius: .25rem;

  &:hover {
    background-color: $color-grey-dark;
  }
}

// Input
form.box-auth__form {
  width: 100%;
  margin: 1rem 0;

  .form-group {
    margin-bottom: 1rem;

    label {
      display: inline-block;
      margin-bottom: .5rem;
      font-weight: bold;
      font-size: .875rem;
    }

    input {
      display: block;
      width: 100%;
      font-family: $font-family-base;
      font-size: .875rem;
      padding: .75rem .75rem;
      font-weight: 400;
      line-height: 100%;
      color: $color-grey-dark;
      background-color: $color-grey-lighter;
      background-clip: padding-box;
      border: 0;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  }
}

// Alerts
.alert {
  width: 100%;
  color: $color-red-dark;
  background-color: $color-red-lighter;
  padding: .75rem 1.25rem;
  margin: 1rem 0;
  border: 1px solid $color-red-light;
  border-radius: .25rem;
}

// Titles
.search-excerp {
  color: $color-grey;
}

.header-title {
  font-size: 2rem;
}

.sub-title {
  font-size: 1rem;
  margin-top: 40px;
}

// Spinner
#spinner {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  z-index: 9999;
  background-color: #333;
  opacity: 1;
  animation: rotate 1.2s infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
